{% extends 'datapedia.html' %}

{% block content %}

    <h2>Approving {{ name }}</h2>

    <p>Also available in <a href="{{ url_for('approving', name = name, ext = 'json', timestamp = timestamp) }}">json</a>.</p>

    {% if data %}
        <pre>{{ data | tojson }}</pre>
            {% if request.remote_addr in data['approvers'] %}
        <div class="alert alert-info">You, {{ request.remote_addr }} have already approved this data.</div>
    {% else %}
        <form method="post">
            <input type="hidden" name="ext" value="json"/>
            <input type="submit" value="Approve"/>
        </form>
    {% endif %}
    {% else %}
        <div class="alert alert-danger">No data with name {{ name }} is marked for approvement.</div>
    {% endif %}


{% endblock %}
