{% extends 'datapedia.html' %}

{% block title %}Archives of {{ name }} - {{ super() }}{% endblock %}

{% block nav %}
    {{ super() }}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('current', name = name) }}">{{ name }}</a></li>
        <li class="active"><a href="{{ url_for('archives', name = name) }}">Archives</a></li>
        <li><a href="{{ url_for('approvings', name = name) }}">Approvings</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">           
            <h2>Archives of {{ name }}</h2>
            <ul class="nav nav-pills">
                <li class="active"><a href="{{ url_for('archives', name = name) }}">HTML</a></li>
                {% for ext in config['SUPPORTED_EXT'] %}
                    <li><a href="{{ url_for('archives', name = name, ext = ext) }}">{{ ext | upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% for timestamp in archives %}
        <section class="row">
            <div class="col-xs-12">
                <h3><a href="{{ url_for('archive', name = name, timestamp = timestamp) }}">{{ name }} at {{ timestamp | todatetime }}</a></h3>
                {{ archives[timestamp] | safe }}
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script type="application/javascript">
        (function($) {
            $('table.diff').addClass('table table-condensed');
            $('table.diff span.diff_chg').addClass('text-warning').parent().addClass('warning');
            $('table.diff span.diff_add').addClass('text-success').parent().addClass('success');
            $('table.diff span.diff_sub').addClass('text-danger').parent().addClass('danger');
        })(jQuery);
    </script>
{% endblock %}
