{% extends 'datapedia.html' %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('current', name = name) }}">Current</a></li>
        <li class="active"><a href="{{ url_for('archives', name = name) }}">Archives</a></li>
        <li><a href="{{ url_for('approvings', name = name) }}">Approvings</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Archive of {{ name }} at {{ timestamp }}</h2>
    <p>Check <a href="{{ url_for('current', name = name) }}">current</a> version of {{ name }}.</p>
    <pre>{{ archive }}</pre>
{% endblock %}
