{% extends 'datapedia.html' %}

{% block title %}{{ name }} - {{ super() }}{% endblock %}

{% block content %}
        <section class="row">
            
            <div class="col-xs-6">
                {% if data %}
                    <h2>Quick overview of {{ name }}</h2>
                    <p>Check the <a href="{{ url_for('archives', name = name) }}">archives</a> over time.</p>
                    <p>Check the <a href="{{ url_for('approvings', name = name) }}">awaiting approvals</a> for {{ name }}.</p>
                    {% if request.remote_addr in data['approvers'] %}
                        <p>You, <strong>{{ request.remote_addr }}</strong>, have approved this data.</p>
                    {% endif %}
                    <table class="table">
                        {% for key in data %}
                            <tr>
                                <th>{{ key }}</th>
                                <td><code>{{ data[key] | tojson }}</code></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <pre>{{ data | tojson }}</pre>
                {% else %}
                    <h2>How to create a new data entry</h2>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <h3 id="edit">Edit</h3>
                <p>If you need a license, start checking <a href="http://creativecommons.org/choose/">Creative Common licenses</a>.</p>
                <form role="form" method="post">
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="help-block">
                                    {% for error in field.errors %}
                                        {{ error | e }}</br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </section>
{% endblock %}
