<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}Datapedia{% endblock %}</title>
            <meta name="description" content="{% block description %}Datapedia, the Wikipedia of data.{% endblock %}"/>
            <meta name="keywords" content="{% block keywords %}data{% endblock %}"/>
            {% block css %}
                <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-theme.min.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename = 'css/prettify.css') }}">
            {% endblock %}
        {% endblock %}
    </head>
    <body onload="prettyPrint()">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('datapedia') }}">Datapedia</a>
                </div>
                {% block nav %}{% endblock %}
                <form class="navbar-form navbar-right" action="{{ url_for('datapedia') }}">
                    <div class="form-group">
                        <input class="form-control" type="search" name="search" value="{{ search }}" placeholder="Search Datapedia"/>
                    </div>
                </form>
            </div>
        </nav>
        <header>
            {% block header %}
                <div class="container">
                    <div class="row">
                    <div class="col-xs-12">
                        <h1><a href="/">Datapedia</a></h1>
                        <p>Welcome to Datapedia, the <a href="http://wikipedia.org">Wikipedia</a> of data!</p>
                        <p>Search use <a href="http://docs.python.org/3.3/library/fnmatch.html#module-fnmatch">fnmatch syntax</a> for searches with a limit of 10 results.</p>
                        
                    </div>
                    </div>
                </div>
            {% endblock %}
        </header>
        <div class="container">
            {% block content %}
                <section class="row">
                    <div class="col-xs-12">
                        {% if search %}
                            <h2>Results for {{ search }}</h2>
                        {% else %}
                            <h2>Top data</h2>
                        {% endif %}
                        <ul class="list-unstyled list-inline">
                            {% for name, ext in results %}
                                <li><a href="{{ url_for('current', name = name) }}">{{ name }}</a></li>
                            {% else %}

                                <li><a href="{{ url_for('current', name = search) }}">Create {{ search }}</a>                                   </li>
                                
                            {% endfor %}
                        </ul>
                    <div>
                </section>
                
                <section class="row">
                    <div class="col-xs-12">
                    
                        <h2>End points</h2>
                        <table class="table table-bordered">
                            <tr>
                                <th>Endpoint</th>
                                <th>Description</th>
                                <th>HTTP specifications</th>

                            </tr>
                            <tr>
                                <td><code>current/{name}.{ext}</code></td>
                                <td>
                                    <p>Current data with name <code>{name}</code> in the <code>{ext}</code> format.</p>
                                    <p>Posting at this endpoint will create a new approving data approved by your ip address and redirect to <code>approving/{name}.{ext}/{timestamp}</code> where <code>{timestamp}</code> is the current server time in seconds. If no current data exists, you will get an HTTP 404 code.</p>
                                    Putting at this endpoint will create a new data approved by your address ip if it does not exist already and archive it right away. If current data exists, you will get a HTTP 400 code.
                                </td>
                                <td>GET, POST or PUT</td>
                            </tr>
                            <tr>
                                <td><code>archive/{name}.{ext}/{timestamp}</code></td>
                                <td>
                                    Archived data with name <code>{name}</code> at the time <code>{timestamp}</code> in the <code>{ext}</code> format.
                                </td>
                                <td>GET</td>

                            </tr>
                            <tr>
                                <td><code>archives/{name}.{ext}/{timestamp}</code></td>
                                <td>
                                    <p>Archives of data with name <code>{name}</code> since the time <code>{timestamp}</code> in the <code>{ext}</code> format.</p>
                                    <code>{timestamp}</code> is optional.
                                </td>
                                <td>GET</td>

                            </tr>
                            <tr>
                                <td><code>approving/{name}.{ext}/{timestamp}</code></td>
                                <td>
                                    <p>Data awaiting for approvement with name <code>{name}</code> at the time <code>{timestamp}</code> in the <code>{ext}</code> format.</p>
                                    Posting at this endpoint will approve the data with your ip address if it is not already the case.
                                </td>
                                <td>GET, POST</td>
                            </tr>
                            <tr>
                                <td><code>approvings/{name}.{ext}/{timestamp}</code></td>
                                <td>
                                    <p>Datas awaiting for approvements with name <code>{name}</code> since the time <code>{timestamp}</code> in the <code>{ext}</code> format.</p>
                                    <code>{timestamp}</code> is optional.
                                </td>
                                <td>GET</td>

                            </tr>
                            
                        </table>
                    </div>
                </section>
                
                <section class="row">
                
                    <div class="col-xs-6">
                        
                        <h2>Data structure</h2>
                        
                        <p>This is how data are stored internally</p>
                        
                        <pre class="prettyprint">{{ config['DATA_STRUCTURE'] | pprint }}</pre>
                        
                        <p>In JSON, it looks like</p>
                        
                        <pre class="prettyprint">{{ example | tojson }}</pre>
                        
                        <h2>Guidelines for posting data</h2>
                        
                        <h3>JSON</h3>
                        <h4>Object</h4>
                        <p>Object keys should be simple, preferably one-worded and inflected on the type of what they designate.</p>

                        <table class="table">
                            <tr>
                                <td>Refeering an array</td>
                                <td><code>{items: [item1, item2, item3]}</code></td>
                            </tr>
                            <tr>
                                <td>Refeering a single value</td>
                                <td><code>{item: value}</code></td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="col-xs-6">
                    
                        <h2>Data validation</h2>
                        
                        <h3>Using GET</h3>
                        <ul>
                            <li>HTTP code is 200</li>
                            <li>Content-Length header is respected</li>
                            <li>Content-MD5 header is respected</li>
                        </ul>
                       
                        <h3>Using POST or PUT</h3>
                        <ul>
                            {% for field in structure %}
                                <li><code>{{ field }}</code> isin't a jerk</li>
                            {% endfor %}
                        </ul>
                        
                        <h3>Data regression testing</h3>
                        <p>Data containing regression (changes that breaks softwares), will not be accepted. The data will be analyzed to ensure that it is retro-compatible with the current existing version.</p>
                        <p>For instance</p>

                        <ul> 
                            <li>list can have new entries</li>
                            <li>dictionary can have new keys</li>
                            <li>a string value could not become an integer</li>
                        </ul>

                        <p>A recursive algorithm walk into the data structure and ensure that types are preserved.<p>

                        <h2>Data approvement</h2>
                        <p>In order to have a good data collection, it is essential to have approvements. The approvement system is anonymous and based on ip address.</p>
                    </div>
                </section>

                <section>
                    <div class="col-xs-12">
                        <h2></h2>
                        <p>This is an ajax example written in jQuery<p>
                        
                        <pre class="prettyprint">{{ jquery_example }}</pre>
                        
                        <noscript><div class="alert">You must enable Javascript to see this example.</div></noscript>
                        
                        <div id="ajax-example"></div>
                    </div>
                </section>
            {% endblock %}
        </div>
        <footer>
            {% block footer %}
                <div class="container">
                    <p class="text-center">Datapedia source code is providen under GPLv3.</p>
                    <p class="text-center">
                        <a href="https://github.com/arteymix/datapedia">Source</a> — <a href="https://github.com/arteymix/datapedia/issues">Report a bug</a> — <a href="{{ url_for('about') }}">About</a>
                    </p>
                </div>
            {% endblock %}
        </footer>
        {%block javascript %}
            <script type="application/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
            <script type="application/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
            <script type="application/javascript" src="{{ url_for('static', filename = 'js/prettify.js') }}"></script>
            <script type="application/javascript" src="{{ url_for('static', filename= 'js/ajax-example') }}"></script>
        {% endblock %}
    </body>
</html>
